<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col-sm">
      <div style="text-align:center">
        <h1>
          Welcome to {{ title }}!
        </h1>
        <img width="300" alt="Angular Logo" src="/assets/20593_Abounding-Hope-And-Joy-CD_Front.jpg" />
      </div>
      <h2>Here are links to the videos: </h2>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let vid of videos">
          <h2>
            <a class="btn btn-primary btn-block" target="_blank" rel="noopener" [href]="getVidPath(vid)" [innerHTML]="vid.description | lineBreaks"></a>
          </h2>
        </li>
      </ul>
    </div>
  </div>
</div>